@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="profile"/>

	<link href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="/css/style.css" rel='stylesheet' type='text/css' />

	<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
</head>
<body>	<!-- main -->
	<div class="center-container">
		<div class="w3ls_banner_info">
			<h1>Who I Am  </h1>
			<div class="profile">
				<div class="wrap">
					<div class="profile-main">
						<div class="profile-pic wthree">
							<img src="/images/harold.jpg" width="170" height="200" alt="">
							<h3>Harold Finch</h3>
							<div class="w3ls-agile-left">
							
								<ul class="address">
									<li>
										<ul class="address-text">
											<li><b>Gender </b></li>
											<li>: </li>
											<li> <span class="w3">Male</span></li>
										</ul>
									</li>
																		<li>
										<ul class="address-text">
											<li><b>D.O.B </b></li>
											<li>: </li>
											<li> <span class="w3">01-05-1970</span></li>
										</ul>
									</li>
									<li>
										<ul class="address-text">
											<li><b>PHONE </b></li>
											<li>: </li>
											<li> <span class="w3">+1 (800) 0-0-0-1-1-0</span></li>
										</ul>
									</li>
									<li>
										<ul class="address-text">
											<li><b>ADDRESS </b></li>
											<li>: </li>
											<li> <span class="w3">101 Binary,Data City</span></li>
										</ul>
									</li>
								
									<li>
										<ul class="address-text">
											<li><b>E-MAIL </b></li>
											<li>: </li>
											<li><a href="mailto:harold@machine.com"> <span class="w3">harold@machine.com</span></a></li>
										</ul>
									</li>

								</ul>
								<div class="clear"></div>
							</div>

						</div>

						<div class="profile-ser">
							<h4>My Skills</h4>
							<div class="awards-agileinfo  w3ls-section">
								<div class="awardsw3-agileits banner-agileinfo">
									<div class="container">
										<div class="w3ls_banner_bottom_grids">
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="70"></div>
													<h4>C#</h4>
												</div>
											</div>
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="100"></div>
													<h4>SQL</h4>
												</div>
											</div>
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="85"></div>
													<h4>Arena</h4>
												</div>
											</div>
											<div class="clear"> </div>
										</div>
									</div>
								</div>

							</div>
							<!-- //Awards-->

						</div>
						<div class="clear"> </div>
						<div class="profile-follows">

							<div class="follow-btn">
								<h3>Follow Me On :</h3>
							</div>
							<div class="follow">
								<a href="https://www.linkedin.com/in/selin-pir/"><i class="fab fa-twitter"></i></a>
								<a href="https://www.linkedin.com/in/selin-pir/"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.linkedin.com/in/selin-pir/"><i class="fab fa-google-plus-g"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--footer-->
			<div class="footer-w3">
				<p>&copy; 2025  All rights reserved | Design by ZoonPolitikion</a></p>
			</div>
			<!--//footer-->

		</div>
	</div>
	<!-- //main -->

	<script src="/js/jquery.min.v3.js"></script>
	<script src="/js/jquery.circlechart.js"></script>
	<script>
		$('.demo-1').percentcircle();

		$('.demo-2').percentcircle({
		animate : false,
		diameter : 100,
		guage: 3,
		coverBg: '#000',
		bgColor: '#ff0000',
		fillColor: '#000',
		percentSize: '50px',
		percentWeight: 'normal'
		});


	</script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-36251023-1']);
		_gaq.push(['_setDomainName', 'jqueryscript.net']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>


</body>
</html>