@{
    Layout = null;
}
<a href="/Default/Urunler/">Ürünler Sayfası</a>
<a href="/Default/Musteriler/">Müsteriler Sayfası</a>

<h1>merhaba core oop projesi</h1>
<h1>mesaj listesi</h1>
<h1>-------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
