.l.leaderboard-header {
    font-weight: bold;
    background-color: #e3e3ff;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
}

.leaderboard-item {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* Sıra, Kullanıcı, Tıklama */
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

    .leaderboard-item .rank,
    .leaderboard-item .username,
    .leaderboard-item .score {
        padding: 0 10px;
    }
