@page "/"
@using Microsoft.EntityFrameworkCore
@using TestEF062325.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@if(allcars != null){
<MudDataGrid T ="car" Items="allcars">
    <Columns>
        <PropertyColumn Property="x => x.Name"></PropertyColumn>
        <PropertyColumn Property="x => x.Description"></PropertyColumn>

    </Columns>
    </MudDataGrid>
}
 
<MudButton OnClick="createcar"> araç ekle</MudButton>
Welcome to your new app.
@code{
    public List<car> allcars { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RefreshCars();
    }
    public void createcar()
    {try
        {


            var _dbc =  DbFactory.CreateDbContext();
            var _car = new car();
            _car.Name = new Random(123123).Next() + "c car";
            _car.Description = new Random(123123).Next() + "Description";

            _dbc.cars.Add(_car);
            _dbc.SaveChanges();
            RefreshCars();
        }
        catch (Exception)
        {

            throw;
        }
    }

    public void RefreshCars()
    {
        try
        {
            allcars = DbFactory.CreateDbContext().cars.ToList();
            StateHasChanged();
        }
        catch (Exception)
        {
            
        }
    }


}